* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #18122B;
    min-height: 98vh;
    font-family: 'Roboto', sans-serif;
}

  .contacts {
    background-color: #0e091f;
    border-top: 5px solid #1f1a31;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    padding-left: 40px;
}
.contacts > button {
    color: rgb(206, 205, 205);
    border: none;
    width: auto;
    height: 50px;
    font-weight: 900;
    background-color: #18122B;;
    font-size: 2rem;
    border:2px solid #413763;
    padding: 10px;
    padding-bottom: 48px;
    border-radius: 10px;
    cursor:pointer;
    transition: .1s ease-in-out
}

.contacts > button:hover {
  background-color: #615785;
}

.chris {
    color: rgb(206, 205, 205);
}


.social-media {
    display: none;
    margin-left: 20px;
}

.social-media span {
    margin-right: 10px;
    padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  min-height: 98vh;
  margin-right: 50px;
  margin-left: auto; 
}

#about {
  margin-right: 50px;
}

.mega-container {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}


.projects-button {
    font-size: 10rem;
    color: rgb(206, 205, 205);
    border: none;
    font-weight: 900;
    padding: 10px;
    cursor:pointer;
    background: none;
    transition: 1s smooth;
}

.project-canvas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(206, 205, 205);
  font-family: 'raleway', sans-serif;
}

.project-canvas > h2 {
  font-size: 4rem;
  text-align: center;
}

.canvas {
  border: 5px solid #0f0c18;
  padding: 230px;
}

input {
  background-color: #2f2453;
  border: 1px solid black;
  font-size: 25px;
  border-radius: 10px;
  color: rgb(206, 205, 205);
}

input:focus {
  border: 1px solid #1670BE;
  box-shadow: 0 0 3px #1670BE;
  outline-offset: 0px;
  outline: none;
}

.contact-container {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.contact-border {
  border: 5px solid #0e091f;
  border-radius: 15px;
  text-align: center;
}

.contact-container div {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
}

h1 {
  font-size: 5rem;
  color: rgb(206, 205, 205);
  text-align: center;
  margin-bottom: 80px;
  margin-top: 10px;
}

label {
  color: rgb(206, 205, 205);
  font-size: 1.3rem;
}

.subject {
  margin-right: 20px;
  height: 50px;
}

.message {
  margin-right: 31px;
  height: 50px;
}

.email {
  height: 50px;
}

textarea {
  width: 385px;
  border-radius: 10px;
  background-color: #2f2453;
  border: 1px solid black;
  font-size: 15px;
  color: rgb(206, 205, 205);
}

textarea:focus {
  border: 1px solid #1670BE;
  box-shadow: 0 0 3px #1670BE;
  outline-offset: 0px;
  outline: none;
}

.contactme {
  color: rgb(206, 205, 205);
    border: none;
    width: 180px;
    height: 50px;
    font-weight: 900;
    background-color: #18122B;;
    font-size: 2rem;
    border:2px solid #413763;
    padding: 10px;
    padding-bottom: 48px;
    border-radius: 10px;
    cursor:pointer;
    transition: .1s ease-in-out
}

.contactme:hover {
  background-color: #615785;
  box-shadow: 1 1 10px #332d49;
}

.contact-bottom {
  border-top: 5px solid #1f1a31;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 11.15%;
  left: 0;
  right: 0;
  background-color: #0e091f;
}

.back-container {
  display: flex;
  justify-content: center;
}

.back-container > button {
  color: rgb(206, 205, 205);
  border: none;
  width: 180px;
  height: 50px;
  font-weight: 900;
  background-color: #18122B;;
  font-size: 2rem;
  border:2px solid #413763;
  padding: 10px;
  padding-bottom: 48px;
  border-radius: 10px;
  cursor:pointer;
  transition: .1s ease-in-out
}

.back-container > button:hover {
  background-color: #615785;
  box-shadow: 1 1 10px #332d49;
}

/* NOT MY CODE
LOOK AT https://codepen.io/alvarotrigo/pen/poOOZYZ ITS SUPER COOL
:)*/



.text-container {
    font-family: 'raleway', sans-serif;
    display: flex;
    justify-content: flex-start;
    max-width: 768px;
  }
  
  .text-container h1{
    margin: 50px;
    font-size: 8rem;
    color: rgba(225,225,225, .01);
    background-image: url('moving.png');
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip:text;
    animation: animate 15s ease-in-out infinite;
    text-transform: uppercase;
    font-weight: 900;
    text-align: left;
  }
  
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
  }

