<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='shortcut icon' href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <div class="mega-container">
     <div class = 'text-container'>
      <h1>Hi,<br>i'm <span class="chris">Chris,</span><br>aspiring dev.</h1>
    </div>
      <div class="project-canvas"><h2 class="canvas">PROJECTS</h2></div>
      <div class="container"><button class="projects-button">►</button></div>
    </div>

    <div class="contacts">
        <button id="about">About</button>
        <button id="contact-button">Contacts</button>
        <div class="social-media">
            <a href="https://twitter.com/yiddiesreborn"><span class="twitter"><img src="/static/twitter.png" width='50' alt="Twitter link"></span></a>
            <a href='https://github.com/yiddies'><span class="github"><img src="/static/github.png" width="50" alt="Github link"></span></a>
            <a href='https://instagram.com/freshcutchris'><span class="instagram"><img src='/static/instagram.png' width='50'alt="Instagram link"></span></a>
            <a href='Contact_Me.html'><span class="instagram"><img src='/static/email.png' width='50'alt="Email link"></span></a>
        </div>
    </div>
    
<script src="/static/main.js"></script>
</body>
</html>